#fullH{
    height: 4.5vh;
    min-height: 30px;
    width: 100vw;
    min-width: 1400px;
    background-color: rgba(185, 187, 184, 0.7) !important;;
}

#list{
    width: 77%;
    margin-left: 23%;
    height:100%;
}

.item_box{
    display: inline-block;
    margin-right: 2.7%;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    font-size: 125%;
    text-decoration: none;
    font-weight: bolder;

}

.item {
    position: relative;
    margin-top: 5px;
}

.it{
    text-decoration: none;
    color: black;
}

.item_box:hover{
    background-color: rgb(159, 247, 122);
}